<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        form{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 15px;
        }
        .box{
            padding: 10px;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 8px;
            background-color: rgba(0, 128, 0, 0.705);
        }
        input{
            outline: none;
            border: 1px solid rgb(0, 174, 255);
            padding: 5px 10px;
        }
    </style>
</head>
<body>
    <input autofocus type="text" id="number" placeholder="enter number of question">
    <button onclick="createquiz(this)">Create</button>
    <form id="form" action="/createquiz" method="post">
    </form>

    <script>
        const sankhya = document.querySelector("#number")
        const form = document.querySelector("#form")
        function createquiz(btn){
            btn.style.display = "none"
            sankhya.style.display = "none"

            const qname = document.createElement("input") 
            qname.setAttribute("name","quizname")
            qname.setAttribute("placeholder","enter quiz name")

            const number = document.querySelector("#number").value
            form.appendChild(qname)
            for(i=0 ; i < number ; i++){    
                const main = document.createElement("div")
                main.classList.add("box")

                const input1 = document.createElement("input")
                input1.setAttribute("name",`question${i+1}[question]`)
                input1.setAttribute("placeholder",`enter question${i+1}`)
                input1.setAttribute("value",`question ${i+1}`)
                
                const input2 = document.createElement("input")
                input2.setAttribute("name",`question${i+1}[options]`)
                input2.setAttribute("placeholder",`enter option 1`)
                input2.setAttribute("value",`question ${i+1} option 1`)
                
                const input3 = document.createElement("input")
                input3.setAttribute("name",`question${i+1}[options]`)
                input3.setAttribute("placeholder",`enter option 2`)
                input3.setAttribute("value",`question ${i+1} option 2`)
                
                const input4 = document.createElement("input")
                input4.setAttribute("name",`question${i+1}[options]`)
                input4.setAttribute("placeholder",`enter option 3`)
                input4.setAttribute("value",`question ${i+1} option 3`)
                
                const input5 = document.createElement("input")
                input5.setAttribute("name",`question${i+1}[options]`)
                input5.setAttribute("placeholder",`enter option 4`)
                input5.setAttribute("value",`question ${i+1} option 4`)
                
                const input6 = document.createElement("input")
                input6.setAttribute("type","number")
                input6.setAttribute("name",`question${i+1}[correctanswer]`)
                input6.setAttribute("placeholder",`enter correct answer`)
                // input6.setAttribute("value",`question ${i+1} correctanswer`)

                main.append(input1,input2,input3,input4, input5,input6)
                form.appendChild(main)
            }
            const a = document.createElement("input")
            a.setAttribute("type","submit")
            form.appendChild(a)
        }
    </script>
</body>
</html>