<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        form{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 10px;
        }
        input{
            padding: 5px;
            border: none;
            font-size: 18px;
        }
        h1{
            font-family: Arial, Helvetica, sans-serif;
            margin-bottom: 0px;
        }
    </style>
</head>
<body>
    <form action="/login" method="post">
        <h1>LOGIN</h1>
        <input type="text" placeholder="enter your email" name="email">
        <input type="text" placeholder="enter your password" name="password">
        <input type="submit" value="Submit">
    </form>
</body>
</html>