<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/videoupload" method="post" enctype="multipart/form-data">
        <input type="text" name="title" placeholder="enter title of video">
        <input type="text" name="description" placeholder="enter description of video">
        <input type="file" name="videofile">
        <input type="submit" value="Upload">
    </form>
</body>
</html>